@model THPDocument.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Profile", new { @id = Url.RequestContext.RouteData.Values["id"] }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Change Password</h4>
        <hr />
        @ViewBag.Done
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="OldPassword">Old password: <font color="red">*</font></label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="PasswordNew">New password <font color="red">*</font></label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.PasswordNew, new { @class = "form-control", @required = "required", @type = "password" })
                @Html.ValidationMessageFor(model => model.PasswordNew, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="ConfirmPassword">Confirm Password <font color="red">*</font></label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @required = "required", @type = "password" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">

                <button class="btn btn-primary">Change</button>
            </div>
        </div>
    </div>
}

